body {
	background-color: #EEEEEE;
	color: black;
	font-family: 'Montserrat', sans-serif;;
}

h1 {
	text-align: center;
	font-size: 50px;
	margin: 0 0 50px 0;
	height: 80px;
	background-color: #E0E0E0;
	vertical-align: middle;
}

#game-board {
	text-align: center;
	margin: 0 auto;	
	width: 456px;
	height: 456px;
}
.squares {
	width: 150px;
	height: 150px;
	display: inline-block;
	background-color: #757575;
	border-radius: 10px;
	border: 1px #EEEEEE solid;
	margin: 0;
}
.squares:hover {

	cursor: crosshair;
}

.doge-img {
	background-image: url(../images/doge.png);
	background-size: cover;
}
.cat-img {
	background-image: url(../images/cat.png);
	background-size: cover;
}

.left-score {
	position: absolute;
	height:	300px;
	width: 200px;
	background-color: #9E9E9E;
	border-radius: 10px;
	margin-left: 50px;
}

.left-score h3, .left-score p {
	text-align: center;
}

.right-score {
	position: absolute;
	right: 0;
	height: 300px;
	width: 200px;
	background-color: #9E9E9E;
	border-radius: 10px;
	margin-right: 50px;
}

.right-score h3, .right-score p {
	text-align: center;
}

#game-result {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.4);
	top: 25px;
	color: black;
	height: 300px;
	width: 100%;
	text-align: center;
	padding: 175px 0 0 0;
	font-size: 100px;
}
#button-container {
	text-align: center;
}
button {
	width: 100px;
	height: 50px;
	background-color: #9E9E9E;
	color: white;
	font-size: 12px;
	font-weight: bold;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
}