body {
	background-image: url(../images/galaxy_bg.jpg);
	background-size: cover;
	color: #4f5b66;
	font-family: 'Montserrat', sans-serif;;
}

h1 {
	text-align: center;
	font-size: 50px;
	margin: 0 0 50px 0;
	height: 80px;
	background-color: #a7adba;
	vertical-align: middle;
	opacity: 0.85;
	padding: 15px 0 5px 0;
}

#game-board {
	text-align: center;
	margin: 0 auto;	
	width: 500px;
	height: 500px;
}
.squares {
	width: 150px;
	height: 150px;
	display: inline-block;
	background-color: #a7adba;
	border-radius: 10px;
	margin: 0px 2px 0px 2px
}
.squares:hover {
	cursor: crosshair;
	background-color: #65737e;
}

.doge-img {
	background-image: url(../images/doge.png);
	background-size: cover;
}
.cat-img {
	background-image: url(../images/cat.png);
	background-size: cover;
}

.left-score {
	position: absolute;
	height:	300px;
	width: 200px;
	background-color: #a7adba;
	border-radius: 10px;
	margin-left: 100px;
	opacity: 0.85;
}

.left-score h3, .left-score p {
	text-align: center;
}

.right-score {
	position: absolute;
	right: 0;
	height: 300px;
	width: 200px;
	background-color: #a7adba;
	border-radius: 10px;
	margin-right: 100px;
	opacity: 0.85;
}

.right-score h3, .right-score p {
	text-align: center;
}

#game-result {
	position: absolute;
	background-color: rgba(167, 173 ,186 , 0.4);
	top: 25px;
	color: white;
	height: 300px;
	width: 100%;
	text-align: center;
	padding: 175px 0 0 0;
	font-size: 100px;
}
#button-container {
	text-align: center;
	background-color: #a7adba;
	height: 80px;
	opacity: 0.85;
}
button {
	width: 100px;
	height: 50px;
	background-color: #65737e;
	color: white;
	font-size: 12px;
	font-weight: bold;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	margin-top: 15px;
}