body {
	background-color: #2D4671;
	color: #152C55;
	font-family: 'Montserrat', sans-serif;;
}

h1 {
	text-align: center;
	font-size: 50px;
}

#game-board {
	text-align: center;
	margin: 0 auto;	
	width: 456px;
	height: 456px;
}
.squares {
	width: 150px;
	height: 150px;
	display: inline-block;
	background-color: #7689A9;
	border: 1px solid #2D4671;
	border-radius: 10px;
	margin: 0;
}
.squares:hover {
	background-color: #4D658D;
	cursor: crosshair;
}

.doge-img {
	background-image: url(../images/doge.png);
	background-size: cover;
}
.cat-img {
	background-image: url(../images/cat.png);
	background-size: cover;
}

.left-score {
	position: absolute;
	height:	300px;
	width: 200px;
	background-color: #4D658D;
	border-radius: 10px;
	margin-left: 20px;
}

.left-score h3, .left-score p {
	text-align: center;
	color: #152C55;
}

.right-score {
	position: absolute;
	right: 0;
	height: 300px;
	width: 200px;
	background-color: #4D658D;
	border-radius: 10px;
	margin-right: 20px;
}

.right-score h3, .right-score p {
	text-align: center;
	color: #152C55;
}

#game-result {
	text-align: center;
	color: white;
	font-size: 20px;
}

button {
	width: 100px;
	height: 50px;
	background-color: #4D658D;
	color: white;
	font-size: 12px;
	font-weight: bold;
	border-color: #152C55;
	border-radius: 10px;
	display: block;
	text-align: center;
}