<!DOCTYPE html>
<html ng-app="gameApp">

	<head>
		<title>Tic-Tac-Toe Game</title>
		<!-- CSS Stylesheet -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!-- Google Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

		<!-- AngularJS -->
		<script src="js/angular.min.js"></script>

		<!-- JavaScript file -->
		<script src="js/main.js"></script>
	</head>

	<body ng-controller="GameController">

		<h1>Tic-Tac-Toe</h1>

<!-- Scoreboards -->
	<!-- 		<div class="rightScore">
				<h3>Player 2</h3> -->

<!-- 	Displays player 1 wins -->
<!-- 				<p></p>
			</div>

			<div class="leftScore">
				<h3>Player 1</h3> -->

<!-- Display player 2 wins -->
<!-- 				<p></p>
			</div> -->


		<!-- This is the Tic Tac Toe game board -->
				<div x-ng-repeat="row in grid">
					<div class="cells" x-ng-repeat="cell in row" x-ng-click="selectSquare()">{{cell.pick}}-{{$parent.$index}}-{{$index}}
					</div>
				</div>


			<br>
			<br>

			<button id="reset-button">New Game</button>

	</body>
</html>