<!DOCTYPE html>
<html ng-app="gameApp">

	<head>
		<title>Tic-Tac-Toe Game</title>
		<!-- CSS Stylesheet -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

		<!-- AngularJS -->
		<script src="js/angular.min.js"></script>

		<!-- JavaScript files -->
		<script src="js/main.js"></script>
		<script src="js/GameController.js"></script>

		<!-- FireBase -->
		<script src="https://cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
		<!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
	</head>

	<body ng-controller="GameController as game">

		<h1>&iquest&iquest TIC-TAC-DOGE ??</h1>

	<!-- Scoreboards -->
		<div class="left-score" ng-show="game.fbdata.gameOver == false">
			<br>
			<img src="images/doge.png" id="doge">
				<p>Score: {{ game.fbdata.leftScore }}</p>
		</div>

		<div class="right-score" ng-show="game.fbdata.gameOver == false">
			<br>
			<img src="images/cat.png" id="grumpcat">

				<p>Score: {{ game.fbdata.rightScore }}</p>
		</div>

		<!-- This is the Tic Tac Toe game board -->
		<div id="game-board" ng-show="game.fbdata.gameOver == false">
			<div x-ng-repeat="row in game.fbdata.grid">
				<div class="squares" x-ng-class="{'doge-img': game.fbdata.grid[$parent.$index][$index].pick === 'x', 'cat-img': game.fbdata.grid[$parent.$index][$index].pick === 'o'}" x-ng-repeat="cell in row" x-ng-click="game.selectSquare($parent.$index, $index)">
				</div>	
			</div>
		</div>

			<br>

				<!-- This shows who's turn it is -->
				<div id="player-turn" ng-show="game.fbdata.gameOver == false">
					Current Player: {{ game.fbdata.currentPlayer }}
				</div>
			<br>

			<!-- This displays the result of the game -->
			<div id="game-result" ng-show="game.fbdata.gameOver == true">

			<p>{{ game.fbdata.gameResult }}</p>
			<!-- Play again -->
			<button x-ng-click="game.newGame()">PLAY AGAIN</button>
			</div>


			<div id="button-container" ng-hide="game.fbdata.gameOver == true">
				<!-- Starts the game -->
				<button x-ng-click="game.getGame()">Start Game</button>
				<!-- Clear Scoreboard -->
				<button x-ng-click="game.clearScore()">Clear Score</button>
			</div>

	</body>
</html>